*{
    margin: 0;
    padding: 5px;
}
#contactInfo{
    margin-left: 50%;
}
#contactInfo p, a{
    display: inline;
}
#contactInfo img{
    height: 35px;
}
#nav{
    padding: 10px 10%;
}
#nav img{
    height: 120px;
    /* width: 300px; */
    padding: 0;
    /* flex: 2; */
}
#nav a, #nav label{
    height: 35px;
    width: 70px;
    margin: 10px;
    padding-top: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: lightseagreen;
    background-color: papayawhip;
    flex: 1;
}
#nav select{
    display: none;
}
#nav li{
    list-style-type: none;
    margin: 20px;
}
#nav li a, #testimonials h2{
    background-color: lightseagreen;
    color: white;
}
#pageTitle{
    /* background-image: ; */
    background-color: slategrey;
    color: white;
    height: 200px;
    font-size: 30px;
    padding-top: 50px;
}
#pageTitle h1, #pageTitle h3{
    display: none;
}
#aboutImgL{
    flex: 5;
    background-color: lightblue;
    position: relative;
    text-align: center;
}
#aboutImgL img{
    height: 270px;
    display: none;
}
#aboutImgL h2{
    color: papayawhip;
    font-size: 45px;
    background-color: rgba(119, 136, 153, 0.753);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#aboutTxtR{
    background-color: lightseagreen;
    flex: 7;
}

#aboutTxtR ul{
    list-style-position: inside;
}
#aboutTxtR li{
    margin-left: 15%;
}
#services{
    background-color: rgb(133, 145, 156);
}
.rowOfThreeColor{
    background-color: thistle;
}
.rowOfThree h2, .rowOfThreeColor h2{
    text-decoration: underline;
}
#imgs_quotes{
    display: flex;
}
#gallery{
    flex: 5;
    background-color: rgb(133, 145, 156); 
}
#viewImgs{
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px 10px;
    text-align: center;
}
#testimonials{
    flex: 7;
}
#testimonials p{
    text-align: left;
    font-size: 22px;
    padding: 20px;
}
#nav, #about, #aboutTxtR ul, #servicesMore{
    display: flex;
}
#nav a, #aboutTxtR li, .rowOfThree, .rowOfThreeColor{
    flex: 1;
}
h1, p, h2, h3, #nav a, label{
    text-align: center;
}
p, a, label{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
    font-family: 'Cormorant Garamond', serif;
}
.highlight{
    background-color: yellow;
}
.blue{
    color: blue;
}
form{
    background-color: lightblue;
}