*{
    margin: 0;
    padding: 5px;
}
#contactInfo{
    margin-left: 50%;
}
#contactInfo p, a{
    display: inline;
}
#contactInfo img{
    height: 35px;
}
#nav{
    padding: 10px 10%;
}
#nav img{
    height: 120px;
    padding: 0;
    flex: 2;
}
#nav a{
    height: 35px;
    width: 70px;
    margin: 10px;
    padding-top: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: lightseagreen;
    background-color: papayawhip;
}
#pageTitle{
    /* background-image: ; */
    background-color: slategrey;
    color: white;
    height: 200px;
    font-size: 30px;
    padding-top: 50px;
}
#aboutImgL{
    background-color: lightblue;
}
#aboutImgL img{
    height: 270px;
}
#aboutTxtR{
    background-color: lightseagreen;
    flex: 2;
}

#aboutTxtR ul{
    list-style-position: inside;
}
#aboutTxtR li{
    margin-left: 15%;
}
#services{
    background-color: rgb(133, 145, 156);
}
.color{
    background-color: thistle;
}


#nav, #about, #aboutTxtR ul, #servicesMore{
    display: flex;
}
#nav a, #aboutImgL, #aboutTxtR li, .rowOfThree{
    flex: 1;
}
h1, p, h2, h3, a{
    text-align: center;
}
p, a{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
    font-family: 'Cormorant Garamond', serif;
}